<<<<<<< HEAD
=======
/* @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

>>>>>>> 53ccd2b0eac5a321940173e758bb36b935fb5148
body {
  min-width: 100%;
  min-height: 100vh;
}

#root {
  min-width: 100%;
  min-height: 100vh;
}

.headerContainer {
<<<<<<< HEAD
  width: 100%;
  position: relative;
=======
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 100px 1fr;
  place-content: center;
  width: 100%;
>>>>>>> 53ccd2b0eac5a321940173e758bb36b935fb5148
  background-image: url("../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 175vmin;
}

.logoHamburgerContainer {
<<<<<<< HEAD
  position: absolute;
  /* margin: 2rem auto; */

  left: 50%;
  margin-left: -45%;
  display: flex;
  justify-content: space-between;
  width: 90%;
=======
  /* margin-left: auto;
  margin-right: auto; */

  display: flex;
  justify-content: space-between;
  align-items: center;
>>>>>>> 53ccd2b0eac5a321940173e758bb36b935fb5148
}

.logo {
  width: 9rem;
}

.title {
<<<<<<< HEAD
  position: absolute;
=======
  font-family: Josefin Sans;
  display: block;
  padding: 1rem;
  font-weight: 100;
  font-size: 10vmin;
  margin-top: -5rem;
  border: 2px solid white;
  /* height: 175px; */
  color: white;
  place-self: center;
}
.that {
  display: block;
>>>>>>> 53ccd2b0eac5a321940173e758bb36b935fb5148
}
